
.icon-icon-1:before { content: '\e800'; } /* '' */
.icon-icon-2:before { content: '\e801'; } /* '' */
.icon-icon-3:before { content: '\e802'; } /* '' */
.icon-icon-4:before { content: '\e803'; } /* '' */
.icon-icon-5:before { content: '\e804'; } /* '' */
.icon-6:before { content: '\e805'; } /* '' */