/* ---------------Specification------------------ */

@font-face{
	src: url('../fonts/fontello.woff');
	font-family: 'Fontello';
}
$f:'Fontello';
@font-face{
	src: url('../fonts/Roboto-Regular.ttf');
	font-family: 'Roboto-Regular';
}
$robr:'Roboto-Regular';

@font-face{
	src: url('../fonts/Montserrat-Light.ttf');
	font-family: 'Montserrat-Light';
}
$ml:'Montserrat-Light';

@font-face{
	src: url('../fonts/Montserrat-Regular.ttf');
	font-family: 'Montserrat-Regular';
}
$mr:'Montserrat-Regular';

@font-face{
	src: url('../fonts/RalewayBold.ttf');
	font-family: 'RalewayBold';
}
$rb:'RalewayBold';

@font-face{
	src: url('../fonts/RalewayExtraBold.ttf');
	font-family: 'RalewayExtraBold';
}
$reb:'RalewayExtraBold';

@font-face{
	src: url('../fonts/RalewayMedium.ttf');
	font-family: 'RalewayMedium';
}
$rm:'RalewayMedium';

@font-face{
	src: url('../fonts/RalewayRegular.ttf');
	font-family: 'RalewayRegular';
}
$rr:'RalewayRegular';

@font-face{
	src: url('../fonts/RalewaySemiBold.ttf');
	font-family: 'RalewaSemiyBold';
}
$rsb:'RalewaySemiBold', sans-serif;

html{
	font-size: 10px;
}

*{
	margin: 0;
	padding: 0;
	transition: all 500ms ease;
}

input:focus::-webkit-input-placeholder{
	color: transparent;
}

textarea:focus::-webkit-input-placeholder{
	color: transparent;
}

%bcg{
	content: '';
	display: block;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

/* ---------------- Search ---------------------- */

.search {
	position: relative;
	&__icon{
		color: #fff;
		margin-left: 15px;
		font-family: $f;
	}
	&__label{
		color: #252525;
		font-size: 2rem;
	}
}
/* скрываем чекбокс */
.checkbox{
	opacity: 0;
}
/* задаем свернутое состояние инпута при неактивном чекбоксе*/
.checkbox + .search__label .search__input{
	font-size: 1.4rem;
	font-family: $ml;
	height: 30px;
	width: 0;
	border: none;
	outline: none;
	transition: .4s cubic-bezier(0, 0.8, 0, 1);
	position: absolute;
	top: 0;
	right: 25px;
	z-index: 2;
	box-sizing: border-box;
}
/* задаем развернутое состояние инпута при активном чекбоксе */
.checkbox:checked + .search__label .search__input{
	width: 200px;
	box-sizing: border-box;
	padding: 10px 5px; 
	z-index: 1;
}

/* ------------------ Header ------------------ */

.header{
	position: relative;
	.navigation{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding-top: 40px;
		padding-bottom: 20px;
		z-index: 9999999;
		&__brand{
			font-family: $rr;
			font-size: 3.4rem;
			color: #fff;
		}
		&__button{
			color: #fff;
			
			font-size: 3rem;
		}
		&__icon{
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&__box{
			max-width: 70%;
		}
		&__menu{
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&__item{
			list-style: none;
			padding-right: 19px;
			&:last-child{
				padding-right: 0;
			}
		}
		&__link{
			font-family: $ml;
			font-size: 1.4rem;
			text-decoration: none;
			color: #fff;
			&:hover{
				color: #c7b299
			}
		}
	}
	.slider{
		height: 100vh;
		&__dott{
			height: 10px;
			width: 10px;
			border-radius: 50%;
			margin-right: 12px;
			&:last-child{
				margin-right: 0;
			}
		}
		&__inner{
			height: 100vh;
			width: auto;
		}
		&__image{
			width: auto;
			height: 100vh;
		}
		&__input{
			bottom: 150px;
		}
		&__pretitle{
			font-family: $rm;
			font-size: 3.6rem;
		}
		&__title{
			font-family: $reb;
			font-size: 5.2rem;
		}
		&__text{
			font-family: $ml;
			font-size: 1.6rem;
		}
		&__button{
			margin-top: 20px;
			font-family: $reb;
			font-size: 1.4rem;
			text-transform: uppercase;
			background-color: #998675;
			padding: 15px 25px;
			border: none;
			border-radius: 3px;
			position: relative;
		}
	}
}

/* ------------------ Services ------------------ */

.services{
	padding-top: 90px;
	padding-bottom: 90px;
	&__box{
		text-align: center;
	}
	&__item{
		cursor: pointer;
	}
	&__icon{
		font-size: 4rem;
		color: #555555;
	}
	&__title{
		font-family: $rsb;
		font-size: 2.2rem;
		color: #555555;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	&__text{
		font-family: $ml;
		font-size: 1.4rem;
		color: #8c8c8c;
	}
	&__line{
		height: 3px;
		width: 70px;
		background-color: #f1eee9;
		margin: 0 auto;
		margin-top: 25px;
	}
}
.services__item:hover .services__icon{
	color: #c7b299;
}
.services__item:hover .services__title{
	color: #c7b299;
}
.services__item:hover .services__line{
	background-color: #c7b299;
}

/* ------------------ Section repeat ------------------ */

.section{
	&__title{
		font-family: $rsb;
		font-size: 3rem;
		text-align: center;
	}
	&__text{
		font-family: $ml;
		font-size: 1.6rem;
		padding-top: 35px;
		padding-bottom: 45px;
		text-align: center;
	}
}
/* ------------------ Ideas ------------------ */

.ideas{
	padding-top: 90px;
	background-color: #fbfaf8;
	.wordpress{
		padding-top: 50px;
		padding-bottom: 50px;
		background-image: url('../img/Background.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;
		margin: 0;
		&__wrapper{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__title{
			font-family: $rr;
			font-size: 2.8rem;
			color: #fff;
			margin-bottom: 0;
		}
		&__text{
			font-family: $ml;
			font-size: 1.8rem;
			color: #615855;
		}
		&__span{
			font-family: $rr;
			font-size: 2.8rem;
			color: #c7b299;
		}
		&__button{
			font-family: $reb;
			font-size: 1.4rem;
			text-transform: uppercase;
			background-color: #998675;
			padding: 15px 20px;
			border: none;
			border-radius: 3px;
		}
	}
}

/* ------------------ Projects ------------------ */

.projects{
	padding-top: 90px;
	padding-bottom: 80px;
	.gallery{
		&__item{
			margin-bottom: 30px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&__card{
			border: none;
		}
		&__image{
			transition: none;
			position: relative;
			&--hidden{
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 70%;
			}
		}
		&__icon{
			text-decoration: none;
			color: #fff;
			font-size: 1.4rem;
			&:first-child{
				margin-right: 30px;
			}
			&:hover{
				display: flex;
				color: #c7b299;
			}
		}
		&__arrow{
			transition: none;
			position: absolute;
			bottom: 85px;
			left: 20px;
			height: 1px;
			width: 30px;
			border: 15px solid transparent;
			border-bottom: 10px solid #fbfaf8;
		}
		&__body{
			background-color: #fbfaf8;
			transition: none;
			padding: 0;
			padding-top: 20px;
			padding-left: 15px;
			padding-bottom: 5px;
			margin: 0;
			z-index: 100;
		}
		&__title{
			font-family: $rm;
			font-size: 2rem;
			padding: 0;
			margin: 0;
		}
		&__description{
			font-family: $ml;
			font-size: 1.4rem;
		}
		&__button{
			font-family: $reb;
			font-size: 1.4rem;
			text-transform: uppercase;
			background-color: #998675;
			padding: 15px 20px;
			border: none;
			border-radius: 3px;
			margin-top: 20px;
		}
	}
}

.gallery__item:hover .gallery__image--hidden{
	display: flex;
	background-color: rgba($color: #000000, $alpha: .4);
}
.gallery__item:hover .gallery__body{
	background-color: #362f2d;
	color: #fff;
	transition: none;
}
.gallery__item:hover .gallery__description{
	color: #c7b299;
}
.gallery__item:hover .gallery__arrow{
	border-bottom: 10px solid #362f2d;
}

/* ------------------ Presentation ------------------ */

.presentation{
	&__wrapper{
		background-image: url('../img/video-presentation.png');
		display: block;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;
		padding-top: 100px;
		padding-bottom: 100px;
		margin: 0;
	}
	&__title{
		color: #fff;
	}
	&__text{
		color: #fff;
	}
	&__time{
		font-family: $mr;
		font-size: 1.4rem;
		color: #c7b299;
		text-align: center;
	}
}

/* ------------------ Mobile ------------------ */

.mobile{
	padding-top: 80px;
	&__title{
		font-family: $rsb;
		font-size: 3rem;
	}
	&__text{
		font-family: $ml;
		font-size: 1.6rem;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	&__box{
		align-items: center;
	}
	&__item{
		display: flex;
		justify-content: flex-start;
		font-size: 1.6rem;
		text-decoration: none;
		cursor: pointer;
		border: none;
	}
	&__icon{
		color: #c7b299;
		padding-right: 30px;
		font-size: 1.5rem;
		&:hover{
			text-decoration: none;
		}
	}
	&__body{
		font-family: $ml;
		font-size: 1.2rem;
		color: #191919;
	}
	&__input{
		font-family: $ml;
		font-size: 1.2rem;
		padding-top: 10px;
		background-color: #fff;
		border: none;
		color: #8c8c8c;
		display: flex;
		align-items: center;
		text-decoration: none;
		white-space: pre-wrap;
		&:hover{
			text-decoration: none;
			color: #362f2d;
		}
		&:focus{
			text-decoration: none;
		}
	}
}
.mobile__item:hover .mobile__icon{
	color: #998675;
}

/* ------------------ Counters ------------------ */

.counters{
	background-image: url('../img/Background.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 60px;
	&__box{
		justify-content: center;
	}
	&__item{
		display: flex;
		flex-direction: column;
		align-items: center;
		cursor: pointer;
	}
	&__icon{
		font-size: 4rem;
		text-decoration: none;
		color: #c7b299;
		font-family: $f;
		&:hover{
			text-decoration: none;
		}
	}
	&__number{
		font-family: $ml;
		font-size: 4.8rem;
		color: #fff;
		padding-top: 30px;
		padding-bottom: 20px;
	}
	&__title{
		font-family: $ml;
		font-size: 1.4rem;
		color: #c7b299;
	}
	&__line{
		height: 2px;
		width: 30px;
		background-color: #fff;
		margin-top: 30px;
	}
}

.counters__item:hover .counters__icon{
	color: #998675;
}

.counters__item:hover .counters__line{
	background-color: #998675;
}

/* ------------------ Posts ------------------ */

.posts{
	padding-top: 80px;
	padding-bottom: 80px;
	&__box{
		position: relative;
	}
	&__image{
		position: relative;
		&--hidden{
			display: none;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			right: 0;
			left: 0;
			bottom: 0;
		}
	}
	&__calendar{
		position: absolute;
		top: 20px;
		left: 35px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 2;
	}
	&__number{
		color: #fff;
		background-color: #363636;
		border-radius: 3px 3px 0 0;
		padding: 2px 12px;
		font-family: $ml;
		font-size: 2.4rem;
	}
	&__mounth{
		color: #fff;
		background-color: #252525;
		border-radius: 0 0 3px 3px;
		padding: 9px 16px;
		font-family: $robr;
		font-size: 1.2rem;
	}
	&__body{
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 20px;
		border: 1px solid #f8f8f8;
		border-top: none;
		z-index: 100;
	}
	&__title{
		font-family: $rm;
		font-size: 2rem;
		color: #606060;
		padding-top: 30px;
	}
	&__text{
		font-family: $ml;
		font-size: 1.4rem;
		color: #8c8c8c;
		padding-bottom: 30px;
	}
	&__link{
		font-family: $ml;
		font-size: 1.4rem;
		color: #c7b299;
		display: flex;
		align-items: center;
		transition: none;
		&:hover{
			text-decoration: none;
			color: #998675;
		}
	}
	&__icon{
		margin-left: 10px;
		&:hover{
			color: #998675;
		}
	}
}

.posts__item:hover .posts__image--hidden{
	display: flex;
	background-color: rgba($color: #000000, $alpha: .4);
	z-index: 1;
}

.posts__item:hover .posts__number{
	background-color: #c7b299;
}

.posts__item:hover .posts__mounth{
	background-color: #998675;
}

.posts__item:hover .posts__body{
	border: 1px solid #362f2d;
	border-top: none;
	background-color: #362f2d;
	color: #fff;
	transition: none;
}

.posts__item:hover .posts__title{
	color: #c7b299;
}

.posts__item:hover .posts__text{
	color: #fff;
}

/* ------------------ Partners ------------------ */

.partners{
	padding-top: 140px;
	padding-bottom: 140px;
	background-image: url('../img/mountains-2.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;
	&__wrapper{
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	&__item{
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}

/* ------------------ Footer ------------------ */

.footer{
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #191919;
	&__item{
		margin-bottom: 30px;
	}
	&__brand{
		font-family: $rr;
		font-size: 3.4rem;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 0;
	}
	&__text{
		font-family: $ml;
		font-size: 1.4rem;
		color: #555555;
		padding-top: 35px;
		padding-bottom: 35px;
	}
	&__link{
		color: #fff;
		text-decoration: none;
		display: flex;
		align-items: center;
		font-family: $mr;
		font-size: 1.4rem;
		&:hover{
			text-decoration: none;
		}
	}
	&__icon{
		transition: none;
		margin-left: 7px;
	}
	.news{
		padding-top: 15px;
		&__title{
			font-family: $rb;
			font-size: 2.4rem;
			color: #fff;
		}
		&__date{
			font-family: $ml;
			font-size: 1.2rem;
			color: #363636;
		}
		&__text{
			font-family: $mr;
			font-size: 1.4rem;
			color: #555555;
		}
		&__line{
			height: 1px;
			background-color: #252525;
			width: 100%;
			margin-top: 25px;
			margin-bottom: 25px;
		}
	}
	.twitter{
		&__post{
			color: #00bff3;
			&:hover{
				text-decoration: none;
			}
		}
		&__link{
			color: #959595;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.widget{
		&__image{
			margin-bottom: 30px;
			max-width: 50%;
			height: 100%;
		}
	}
}

.footer__item:hover .footer__text{
	color: #c7b299;
}

.footer__item:hover .footer__link{
	color: #00bff3;
}

.news__item:hover .news__date{
	color: #fff;
}

.news__item:hover .news__text{
	color: #c7b299;
}

.twitter__item:hover .twitter__time{
	color: #fff;
}

.twitter__item:hover .twitter__text{
	color: #c7b299;
}

	/* ------------- Footer Copyright ------------- */

.copyright{
	background-color: #111111;
	padding-top: 55px;
	padding-bottom: 55px;
	&__wrapper{
		justify-content: space-between;
	}
	&__title{
		font-family: $ml;
		font-size: 1.3rem;
		color: #555555;
		padding-right: 10px;
		&:last-child{
			padding-right: 0;
			padding-left: 10px;
		}
	}
	&__span{
		color: #959595;
	}
	&__item{
		padding-left: 10px;
		padding-right: 10px;
		border-left: 1px solid #252525;
		&:last-child{
			padding-right: 0;
		}
	}
	&__link{
		font-family: $ml;
		font-size: 1.3rem;
		color: #555555;
		text-decoration: none;
		&:hover{
			text-decoration: none;
			color: #c7b299;
		}
	}
}


/* ------------------ Adaptive ------------------ */

@media screen and (max-width: 1200px){
	.header{
		.navigation{
			&__item{
				padding-right: 16px;
			}
		}
	}
	.mobile{
		&__wrapper{
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: 100%;
		}
		&__image{
			margin-bottom: 40px;
			height: 50%;
    		width: 50%;
		}
		&__box{
			padding-bottom: 80px;
		}
	}
}

@media screen and (max-width: 991.98px){
	.search{
		display: flex;
		align-self: flex-end;
		margin-right: 25%;
		margin-top: 1%;
	}
	.checkbox:checked+.search__label .search__input{
		width: 290px;
	}
	.header{
		.navigation{
			&__name{
				display: none;
			}
			&__box{
				max-width: 100%;
			}
			&__menu{
				background-color: rgba($color: #000000, $alpha: .9);
				border-radius: 5px;
			}
			&__item{
				font-size: 1.5rem;
				padding-top: 4px;
				padding-bottom: 4px;
				padding-right: 0;
				border-bottom: 1px solid #8c8c8c;
				&:last-child{
					border-bottom: none;
				}
			}
		}
		.slider{
			&__input{
				bottom: 100px;
			}
		}
		
	}
	.services{
		&__item{
			margin-bottom: 30px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.ideas{
		.wordpress{
			padding-bottom: 100px;
			&__wrapper{
				flex-direction: column;
			}
			&__button{
				margin: 0 auto;
			}
		}
	}
	.counters{
		&__item{
			margin-bottom: 30px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.posts{
		&__item{
			margin-bottom: 30px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.partners{
		&__item{
			margin-bottom: 40px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.copyright{
		&__box{
			padding-bottom: 20px;
		}
	}
}

@media (max-width: 767.98px){
	.search{
		margin-right: 20%;
	}
	.checkbox:checked+.search__label .search__input{
		width: 250px;
	}
	.projects{
		.gallery{
			&__item{
				display: flex;
				justify-content: center;
			}
		}
	}
}

@media (max-width: 540px){
	.search{
		margin-right: 15%;
	}
	.checkbox:checked+.search__label .search__input{
		width: 220px;
	}
	.mobile{
		&__image{
			height: 80%;
			width: 80%;
		}
	}
}

@media (max-width: 440px){
	.search{
		margin-right: 10%;
	}
	.checkbox:checked+.search__label .search__input{
		width: 160px;
	}
	.widget{
		&__image{
			margin-bottom: 30px;
			max-width: 100%;
			
		}
	}
}